<nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://ether1.org/index.html"><img src="images/logo.png" alt=""></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li><a href="https://ether1.org">Home</a></li>
            <li><a href="https://nodes.ether1.org">Nodes</a></li>
            
            <li><a href="https://wallet.ether1.org">Wallet</a></li>
            <li><a href="https://explorer.ether1.org">Explorer</a></li>
            <li><a href="https://stats.ether1.org">Network</a></li>
	    <li><a href="https://docs.ether1.org/">Docs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
 <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum / BlockHash" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>
            
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
</div>
</nav>
